
.head-container{
    border: 2px solid black;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.nav-items>ul{
    display: flex;
    gap: 7px;
    list-style-type: none;
    margin: 5px;
}


.btn{
    height: 23px;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
}
.head-logo{
    cursor: pointer;
    height: 100px;
    width: 200px;
}